################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Se7en/v16
/obj/Release
/.vs/Se7en/DesignTimeBuild
/obj
/bin/Release/net48
